<!DOCTYPE html>
<html lang="en">

    <head>

        <style>

            .fcMenuBar {
                /* display:grid; */
                grid-template-columns:0.1fr;
                column-gap:16px;
                margin-bottom:16px;
                margin-top:20px;
            }

            .fcTop {

                display:grid;
                grid-template-columns:80px auto;
                column-gap:24px
            }

            .fcTop img {

                width: 225px;
            }
            
            table {

                width: 100%;

            }

            table, th, td {
                text-align: center;
                border:1px solid black;
                border-collapse: collapse;
            }
            tr:nth-child(even) {background-color: #f2f2f2;}


            .autocomplete {
            position: relative;
            display: inline-block;
            }

            .autocomplete-items {
            position: absolute;
            border: 1px solid #d4d4d4;
            border-bottom: none;
            border-top: none;
            z-index: 99;
            /*position the autocomplete items to be the same width as the container:*/
            top: 100%;
            left: 0;
            right: 0;
            }

            .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff; 
            border-bottom: 1px solid #d4d4d4; 
            }

            /*when hovering an item:*/
            .autocomplete-items div:hover {
            background-color: #e9e9e9; 
            }

            /*when navigating through the items using the arrow keys:*/
            .autocomplete-active {
            background-color: DodgerBlue !important; 
            color: #ffffff; 
            }


            .homeinput {
                background-color: #494949;
                border: 0.5px solid rgb(0, 0, 0);
                border-radius: 75px;
                color: rgb(255, 255, 255);
                padding:6px 12px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                -webkit-transition-duration: 0.4s; /* Safari */
                transition-duration: 0.4s;
            }

            .homeinput:hover { 
                background-color: rgb(255, 220, 19);
                box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
                color:  rgb(0, 0, 0);;       
            }


        </style>
    </head>
        
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        
        <div class="fcTop">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBAWW7MUMY5DGaYiO0zKgERsIa7g7wvkXFsA&usqp=CAU"> 
        </div>
        
        <form method="post" action="/" class="fcMenuBar">
            <input type="submit" name="action0" class="homeinput" value="Home">
            <input type="submit"  name="action1" class="homeinput" value="Calculator">
            <input type="submit"  name="action6" class="homeinput" value="Logins">
            <input type="submit"  name="action7" class="homeinput" value="Freight Class">
            <input type="submit"  name="action3" class="homeinput" value="Insurance">
            <input type="submit"  name="action8" class="homeinput" value="Lane Grader">
            <input type="submit"  name="action9" class="homeinput" value="Billing">
            <input type="submit"  name="action10" class="homeinput" value="Services">
        </form>
        <hr>
        <h3>Margin% Converter</h3>
        <div>
            <select id="margintype" type="number" style="display:inline-block" name="selection" onchange="marginConverter()">
                <option value=0.10>10%</option>
                <option value=0.11>11%</option>
                <option value=0.12 selected>12%</option>
                <option value=0.13>13%</option>
                <option value=0.14>14%</option>
                <option value=0.15>15%</option>
                <option value=0.16>16%</option>
                <option value=0.17>17%</option>
                <option value=0.18>18%</option>
                <option value=0.19>19%</option>
                <option value=0.20>20%</option>
                <option value=0.25>25%</option>
                <option value=0.30>30%</option>
                <option value=0.35>35%</option>
                <option value=0.40>40%</option>
            </select>
            <input id="inputCost" type="number" placeholder="Carrier Cost" oninput="marginConverter()" onchange="marginConverter()">
        </div><br>

        <table>
                <tr>
                    <th>Customer Rate</th>
                    <th>Gross Profit</th>
                    <th>Markup %</th>
                </tr>
                <tr>
                    <th>$<span id="outputRate"></span></p></th>
                    <th>$<span id="outputGp"></span></p></th>
                    <th><span id="outputUplift" style:percent>%</span></p></th>
                </tr>
        </table><br>

        <hr>
        <h3>90 Day Customer Report -- Updated 12/13/22</h3>
        <h4>(Shipped / Quoted Data)</h4>
        <div>
            <form method="post" class="autocomplete" autocomplete="off" action="/billing">
                <input id="custy" type="text" name="custy" placeholder="Customer" required>
                <input type="submit">
            </form>
        </div>
        <p>PLEASE NOTE - Data is not real-time data, subject to error. </p>


    <script type="text/javascript">

        function marginConverter() {
                var m = document.getElementById("margintype");
                var marg = m.value;    
                var c = document.getElementById("inputCost");
                var cost = Number(c.value); 
            
                margin = (1-marg)
                rate = (cost/margin).toFixed(2)
                mu = 1/margin
                munext = mu-1
                gp = (rate-cost).toFixed(2)
                upliftperc = (100*munext).toFixed(2);

                document.getElementById("outputRate").innerHTML=rate;
                document.getElementById("outputGp").innerHTML=gp;
                document.getElementById("outputUplift").innerHTML=upliftperc;


            }

        var customers = ['KINGDOM DISTRIBUTORS (98029-P1)', 'JIAHERB INC (50655-P1)',
       'FBD LOGISTICS (228466-P1)', 'CECILIA TECH (105393-P1)',
       'FARM KING SUPPLY (113819-P1)', 'REALSTONE SYSTEMS (64462-P1)',
       'GREEN POWER BATTERIES (105428-P1)', 'THE ABS COMPANY (97215-P1)',
       'HARIO NORTH AMERICA (86055-P1)',
       'THE NEW DIAMOND LINE CONTAINER CORPORATION (109641-P1)',
       'TILE TECH INC (65929-P1)', 'THE STAPLETON GROUP, INC (235240-P1)',
       'EASYFLEX USA (58997-P1)', 'JAIN IRRIGATIONS INC (101486-P1)',
       'WORLD DEPOT (100744-P1)', 'NOW MOVE USA (63649-P1)',
       'LONESOME COTTAGE FURNITURE CO (104935-P1)',
       'LIGHTING JUNGLE (249558-P1)', 'OCEAN ROCK USA (88679-P1)',
       'SUWANNEE RIVER SUPPLY (238487-P1)',
       'REINHART & ASSOCIATES INC (89906-P1)',
       'GOLDENHOME CABINETRY (81986-P1)', 'HYLIO INC (113143-P1)',
       'ANTHELA FOODS INC (117017-P1)', 'ZACA INC. (60803-P1)',
       'SDS NATIONAL (102907-P1)',
       'CLOUD F1 LLC dba THE ELEGANT BAR (114182-P1)',
       'GRAYSON LUXURY (105305-P1)', 'TETRACO LLC (101261-P1)',
       'CANDELLA LIGHTING CO (81443-P1)',
       'ARUVIL INTERNATIONAL INC (65729-P1)',
       'AFFORDABLE WIPERS (94566-P1)',
       'ASE SUPPLY INC / THERMO BY PRODUCTS (234944-P1)',
       'PETER PAN NOVELTY COMPANY (96025-P1)',
       'OASIS IMAGING (245837-P1)', 'COWAY USA (83665-P1)',
       'ALL STAR LIGHTING SUPPLIES INC (95550-P1)',
       'GOODWOOD HARDWARE (106473-P1)', 'GLOBAL FOODS INC (92503-P1)',
       'SOL CABINETS WHOLESALE INC (96880-P1)',
       'IOWA PARTS INC (102965-P1)', 'MARUKAN VINEGAR USA (101648-P1)',
       "FOSTER'S INC (102702-P1)", 'MIRROR IMAGE (93977-P1)',
       'DE VORE PACKAGING INC (235210-P1)',
       '.JOHN MEBANE CUSTOMER (96681-P1D)',
       'INNOVATIVE BEVERAGE CONCEPTS INC (229777-P1)',
       'PLANTATION CANDIES (93930-P1)', 'CLEANIS (108759-P1)',
       'WESTCOAST WATER WORKS WAREHOUSE (61921-P1)',
       'GALOT INC (51119-P1)', 'TRASIAN MANUFACTURING LTD (252025-P1)',
       'FOSTER STEPHENS (111541-P1)', 'PUMPING SOLUTIONS (52530-P1)',
       'GLOBAL CARTAGE INC (116473-P1)', 'STURDY GUN SAFES (96408-P1)',
       'PACIFIC TECH (68043-P1)', 'LAB TECH SUPPLY COMPANY (92178-P1)',
       'PULSAR PRODUCTS (50500-P1)', 'WINJET AUTOMOTIVE (113877-P1)',
       "EVA'S ESTHETICS INC dba TUEL BERODIN (87411-P1)",
       'JDA GLOBAL (60800-P1)', 'EZGO EXPRESS (65702-P1)',
       'LAZER MARBLE & GRANITE (103558-P1)',
       'EMPAVA APPLIANCES (251270-P1)', 'JOCKIMO INC (52554-P1)',
       'KAHUNA CHAIR (243830-P1)', 'RIA DISTRIBUTING INC (97759-P1)',
       'BOLIDE TECHNOLOGY GROUP (104073-P1)', 'RON ROBINSON (240555-P1)',
       'USA TECHNOLOGY CORP (81252-P1)', 'EASTERNCCTV (249588-P1)',
       'ADVANCED PET PRODUCTS (101633-P1)',
       'CARSON TECHNOLOGY (51725-P1)',
       'KINGHOOD INTERNATIONAL LOGISTICS (240864-P1)',
       'MAKK CROSS BORDER SOLUTIONS (230436-P1)',
       'OCEANIA INTERNATIONAL (62004-P1)',
       'MATRIX AIR SYSTEMS (114161-P1)', 'MIDWEST TRADING CO (65937-P1)',
       'ECOLOGIX ENVIRONMENTAL SYSTEMS LLC (98558-P1)',
       'POST PONY WAREHOUSE (254229-P1)', 'EEZGLOBAL INC (82586-P1)',
       'SUMMER CRUSH VINEYARD AND WINERY (255161-P1)',
       'GILLIS & LANE INC (67037-P1)',
       'CHATSWORTH PRODUCTS INC (242078-P1)',
       'DURVY LIQUIDATION LLC (101418-P1)',
       'METALLIC LADDER MANUFACTURING - BRENDA (252492-P1)',
       'GREENPOWER MOTOR CO (249180-P1)', 'CAMERICH USA (59906-P1)',
       'PRO MOTION DISTRIBUTING (92973-P1)', 'R&R LOGISTICS (92439-P1)',
       'PARK AVE APPLIANCES (234586-P1)',
       'PUBLIC SPECIAL COMMODITIES DIVISION (117082-P1)',
       'CINSA USA (113476-P1)', 'FLORENCE FILTER CORP (50231-P1)',
       'COOLER DEPOT (50236-P1)', 'RII EXPRESS (80710-P1)',
       'ALTECH ELECTRONICS (110481-P1)', 'CODAN MX (247594-P1)',
       'SITMATIC USA (94646-P1)', 'BUFFALO GILLS, LLC (238194-P1)',
       'KILO E  LIQUIDS (240988-P1)',
       'D&S SALES, INC - WESTERN MULE CRANES (67091-P1)',
       'GENERAL FLOORCRAFT (234115-P1)', 'ENTREPACK (82051-P1)',
       'EMWEST POWERTRAIN SYSTEMS (111150-P1)', 'KEVIDKO (229223-P1)',
       'POSITIVE CONCEPTS (50250-P1)', 'CALIBER RANGE CORP (59538-P1)',
       'PURCELL MURRAY (240880-P1)',
       'RDM SUPPLY CHAIN SOLUTIONS (90889-P1)',
       'HAMPTON POPCORN (229994-P1)', 'SHIPIT4US LLC (107170-P1)',
       'AT INDUSTRIAL PRODUCTS (236117-P1)',
       'LASER EXPRESS, INC. (60791-P1)',
       'PREMIER PUMP AND POWER (94206-P1)',
       '1ST CLASS CIGAR HUMIDORS (67634-P1)',
       'METALLIC LADDER MANUFACTURING (116334-P1)',
       'GIFTABLE WORLD (103041-P1)', 'AG OFFICE FURNITURE (100939-P1)',
       'IGNITUS CORPORATION (65671-P1)',
       'DALTON WOOD WHOLESALE (122666-P1)', 'HFS SOCAL INC (231551-P1)',
       'AMROS INDUSTRIES, INC. (232468-P1)',
       'GORILLA COATINGS CORP (87325-P1)',
       'MJ TREEHOUSE VENTURES DBA UPSCAPERS (116801-P1)',
       'NEW SUN LOGISTICS INC (99797-P1)', 'MATE USA LLC (112540-P1)',
       'BROOKLYN BREW SHOP, LLC (235461-P1)',
       'FARM PLASTIC SUPPLY (96226-P1)',
       'TECHTRADE SOLUTIONS (104510-P1)', 'GOVINO (100871-P1)',
       'PACLIGHTS LLC (64270-P1)', 'CODAN US (246619-P1)',
       'SILVERWINGS UNIQUE (60288-P1)', 'BORRAYS PLASTICS (52348-P1)',
       'NEBULITE (60380-P1)', 'EMOJO BIKE (105217-P1)',
       'JOHN HOWARD COMPANY (84899-P1)',
       'CHINA RAILWAY LOGISTICS LLC USA (87113-P1)',
       'ALL FOREIGN AUTO PARTS. (84825-P1)',
       'ADVANTAGE LIGHTING SOLUTIONS (94035-P1)',
       'KINGFA GLOBAL INC (50330-P1)', 'EXOTIC AUTO RECYCLING (84822-P1)',
       'MA GROUP OF COMPANIES (247186-P1)',
       'KOSTER KEUNEN MANUFACTURING INC (242096-P1)',
       'JDM WESTCOAST (111904-P1)', 'MEXI-LAND (60970-P1)',
       'PORTOR INDUSTRY (65673-P1)',
       'BENNER CHINA & GLASSWARE INC (112412-P1)',
       'ENERGETIC LIGHTING (69015-P1)', 'AVERYS BEVERAGES (102238-P1)',
       'A&B BRUSH MFG (51668-P1)', 'EVO AMERICA LLC (104638-P1)',
       'THE NEW DIAMOND LINE CONTAINER CORPORATION - BARB (230151-P1)',
       'SANDHU PRODUCTS (237706-P1)', 'PERKO INC. (104732-P1)',
       'PDQ AUTOMATIC TRANSMISSION PARTS (86675-P1)',
       'UG HEALTHCARE (66570-P1)', 'AG MACHINING (231851-P1)',
       'ASTC GLOBAL (250156-P1)', 'CAMP CHEF (234447-P1)',
       'DEKORRA PRODUCTS (251184-P1)', 'WESTERN FIBERGLASS (104464-P1)',
       'NEWARK WIRE WORKS (109166-P1)', 'TV TIME DIRECT (102383-P1)',
       'ELECTRIDUCT (52487-P1)',
       'PURE N NATURAL SYSTEMS, INC. (234046-P1)',
       'PARKER AND SONS TRANSMISSIONS (51911-P1)',
       'LFD FORWARDING INC (98612-P1)', 'DAILY CONCEPTS (116842-P1)',
       'TRIWAYS LOGISTICS (117156-P1)', 'DOLLAR EMPIRE LLC (114089-P1)',
       'PRO-EDGE INDUSTRIES (250441-P1)',
       'BAY LINE TOOL & EQUIPMENT (93996-P1)',
       'PACIFIC DUALIES INC (115870-P1)', 'FOOD FINDERS USA (50626-P1)',
       'SUNLAND SPECIALTIES (60381-P1)', 'VANGUARD SOAP LLC (244830-P1)',
       'KW INTERNATIONAL (65898-P1)', 'SDR MOTORSPORTS INC (87676-P1)',
       'HOOKAH G (37075-P1)', 'ABD OFFICE SUPPLIES (50385-P1)',
       'R&R INDUSTRIES (106223-P1)',
       'THE NORTHWEST GROUP LLC (104134-P1)',
       'COLUMBUS INTL TRANSPORT (93103-P1)', 'VULCAN WIRE (81237-P1)',
       'CONCEPT BATH AND INTERIORS (66965-P1)',
       'POWER TRIM CO (229541-P1)', 'ALPINE CORPORATION (85281-P1)',
       'POWER STEER INC (63189-P1)', 'GOLDEN RAILINGS INC (98499-P1)',
       'LLP GLOBAL (66427-P1)',
       'GOLD STANDARD CERTIFIED PARTS (252493-P1)',
       'EDWARDS ENGINEERED PRODUCTS (111509-P1)',
       'PACIFIC HOME & GARDEN (95125-P1)', 'FLOTTEC LLC (116519-P1)',
       'TNT SOLUTION KC LLC (109564-P1)',
       'TOPLINE MANUFACTURING (52864-P1)',
       'WORKSTATION INDUSTRIES (51353-P1)',
       'ENGINEERED PROCESS SYSTEMS CORPORATION (98670-P1)',
       'F1 GLOBAL INC (231766-P1)',
       'EVOLUTION ELECTRIC VEHICLES (233844-P1)',
       'KEN MASON TILE (50280-P1)', 'EXT FABRICS (50457-P1)',
       'EASYFLEX WEST (232514-P1)', 'GROWERS CHOICE (90518-P1)',
       "MO' MONEY ASSOCIATES (232897-P1)",
       'INTEGRA SUPPLY LLC (101495-P1)', 'L&M SERVICES (102132-P1)',
       'JL WINGERT COMPANY (88594-P1)', 'BLUEZONE PRODUCTS (113478-P1)',
       'TILE AND STONE EXPRESS (96744-P1)',
       'SILVERGATE SHIPPING INC (51355-P1)',
       'NEW RAY TOYS INC (65846-P1)', 'ACTION FREIGHT (59450-P1)',
       'SHIPPING AND HANDLING (104504-P1)',
       'AFAM CONCEPTS INC (107890-P1)', 'RUVATI USA (94478-P1)',
       'DELFINGEN (101755-P1)', 'EVASIVE MOTORSPORTS (80883-P1)',
       'LIFELINE BATTERIES (104071-P1)', 'BLUE LAKE PARTNERS (50458-P1)',
       'SWIFT SUPPLY CO INC (104231-P1)', 'GMI WHEELS (234993-P1)',
       'PANIC PLASTICS (85571-P1)', 'MAKESY (249064-P1)',
       'LITE SOURCE INC (62990-P1)', 'T-SPA MFG (254162-P1)',
       'MLR PACKAGING (240549-P1)', 'UNITED KANBOO USA CORP (66882-P1)',
       'JDM WESTSIDE (51835-P1)', 'ALUMINUM TANK INDUSTRIES (99584-P1)',
       'SHARRATT PROVISION INC (92018-P1)', 'BBQGRILLS.COM (83094-P1)',
       'LEGEND OF ASIA INC (49781-P1)', 'TOMEI POWERED USA (110700-P1)',
       'SOUTHWEST HARDWOOD FLOORS INC (70302-P1)',
       'EX-LITE INC (89646-P1)', 'STONE FIREPLACES (98829-P1)',
       'WANTECH INTERNATIONAL (84917-P1)',
       'SENFENG LASER USA INC (88165-P1)', 'SERFAS - AZ (250327-P1)',
       'ENVIROMOTIVE (110532-P1)', 'FLEX WIRES (50514-P1)',
       'MTJ AMERICAN LLC (248764-P1)', 'PRESTIGE IMPORT GROUP (61593-P1)',
       'ALVANTOR (109409-P1)', 'FOREVER REDWOOD (102661-P1)',
       'MAGNUS TEXTILE (97635-P1)', 'EVEREST GROUP USA (237700-P1)',
       'ARCHITECTURAL MALL, INC (234105-P1)',
       'PACKAIR AIRFREIGHT INC (88959-P1)', 'WELLELL INC. (107879-P1)',
       'CRETO WORLDWIDE (100636-P1)', 'C3 LIGHTING SOLUTIONS (96629-P1)',
       'AMERICAN CREMATORY EQUIPMENT (81213-P1)',
       'SRI LAKSHMI NARASIMHAR OVERSEAS LLC (244856-P1)',
       'PACIFIC WAREHOUSE SALES (83582-P1)',
       'BROCK TRANSPORTATION (100349-P1)',
       'UNITED WAREHOUSE & LOGISTICS (244873-P1)',
       'HI-LITE MANUFACTURING CO INC (99796-P1)',
       'TOP WISE LOGISTICS - CA (89101-P1)',
       'ATHENA MEDICAL PRODUCTS INC (97179-P1)',
       'PENTIUS USA INC (101213-P1)', 'AQUAVIAN FREIGHT (65967-P1)',
       'WASATCH (51130-P1)', 'ALTA HEALTH SUPPLIES (230614-P1)',
       'RB COMPONENTS (51610-P1)', 'DEPLOYED LOGISTICS (94258-P1)',
       'US MSS LOGISTICS - FONTANA (239583-P1)',
       'GLOBAL USA INC / MERCY USA (101831-P1)',
       'ROLLAND HAIRTREND INC - NC (249591-P1)',
       'ALG LIGHTING DBA MW LIGHTING (84578-P1)',
       'KINSEN FILTER MFG (107906-P1)',
       'IN DEMAND MARKETING LLC (228459-P1)',
       'JARROW INDUSTRIES (109658-P1)', 'HIGOLD (96912-P1)',
       'KULL LAVERDE TRUCKING (106577-P1)',
       'TERRA PACIFIC WASTE MANAGEMENT (96430-P1)', 'SERFAS (232816-P1)',
       'GUARDIAN ACCESS & DOOR HARDWARE (50943-P1)',
       'MPD HOLDINGS (60894-P1)',
       'COMMERCIAL TRANSPORT NETWORK (238086-P1)',
       'GEAR BAGS (241593-P1)', 'FITEC INTERNATIONAL (104202-P1)',
       'WOODSPUR FARMS (243219-P1)',
       'FIRST FLAG GLOBAL LOGISTICS (255219-P1)',
       'ULTIMATE SOLUTIONS (116590-P1)', 'ACKO (254031-P1)',
       'QUIKLEEN ABSORBENT (254193-P1)', 'BLUE ROBINS, INC (67173-P1)',
       'CREATIVE DRINKS INC (110439-P1)', 'THOROBRED INC (102417-P1)',
       'ACC CRAPPIESTIX, LLC (232333-P1)',
       'ASTRO-COOLER, INC. (255193-P1)',
       'GLOBAL SALES GROUP - CA (88672-P1)',
       'OLD MODERN HANDICRAFTS (229734-P1)',
       'LA GARDEN SUPPLY (89184-P1)', 'AIR TIGER EXPRESS USA (87243-P1)',
       'PETLAND, INC. (101454-P1)', 'JIT USA LOGISTICS CORP (101120-P1)',
       'THE DIPPER INC (95999-P1)', 'ZJW INC (113308-P1)',
       'PDC (52446-P1)', 'POOLMASTER INC (228067-P1)',
       'SUNLIGHT TRANSPORTATION (83659-P1)',
       'PLASTIC INNOVATIONS INC. (246223-P1)', 'KGL AMERICA (50424-P1)',
       'AMERICAN WHEEL SPECIALIST INC (95643-P1)',
       'ASHTEL STUDIOS (107999-P1)', 'AC FOLDING GATES (50513-P1)',
       'BEST SHEET METAL (50790-P1)', 'VIP RUBBER COMPANY (50937-P1)',
       'GLADIATOR CARGO NETS (84818-P1)',
       'KCC TRANSPORT - LAX (HQ) (89832-P1)',
       'COMPLETE COACH WORKS (104950-P1)', 'GROWERS-INC (97302-P1)',
       'DENBESTE MOTORSPORTS (246749-P1)', 'REX DISTRIBUTOR (60513-P1)',
       'SOUTHLAND POLYMERS (243007-P1)',
       'NIELSEN PRODUCTS LLC (100064-P1)', 'PREMIER ORGANICS (95905-P1)',
       'THE CHERIE ROSE COLLECTION (114105-P1)',
       'LAPEL SOLUTIONS (96571-P1)', 'YODER OIL CO INC (247813-P1)',
       'PLATINUM ACCESS SYSTEMS (51118-P1)', 'THREE Ns DEEP (90312-P1)',
       'PURETECK CO INC (61562-P1)',
       'UNITED DISCOUNT WHOLESALE INC (101175-P1)',
       'ANJOEE EXPRESS INTL (230607-P1)',
       'REAL INTERNATIONAL SCM CORP (72062-P1)', 'SPEEDPRESS (81406-P1)',
       'MCCARTHY GRANITE (100442-P1)', 'SIERRA ALLOYS (61045-P1)',
       'ARGONIDE CORPORATION (105751-P1)',
       'UNIQUE CANDIES LLC (101508-P1)', 'BNX SHIPPING INC (81068-P1)',
       'GOLDEN ARCUS INTL CO (84398-P1)',
       'POLY CORR INDUSTRIES (70146-P1)', 'SHUMAN PLASTICS (85006-P1)',
       'WILLIAMS BREWING (87361-P1)', 'PRECISION WATERJET INC (81239-P1)',
       'AL NU PRODUCTS INC, DBA US PEACEKEEPER (52712-P1)',
       'WANDA LOGISTICS INC (66435-P1)', 'THREE KINGS (242095-P1)',
       'EXCELL ENTERPRISES INC (90024-P1)', 'COLLAZEN CARE (254963-P1)',
       'MULTI SALES INC. (240550-P1)', 'SURCO INC (104327-P1)',
       'SPI WEST PORT INC (100183-P1)', 'ANTOP (50570-P1)',
       'CLOSEOUT SURPLUS & SAVINGS LLC (229432-P1)',
       'JD LOGISTICS UNITED STATES COMPANY (94229-P1)',
       'MCWHORTERS LTD (102435-P1)', 'VILLA HALLMARK (239249-P1)',
       'SMITTY PAN MFG (89500-P1)', 'ANDERSON MOULDS INC (112538-P1)',
       'MEKONG TRADING LLC (251555-P1)', 'XRT LOGISTICS (250593-P1)',
       'CALIFORNIA ART TILE WEST (111897-P1)', 'TNR FUELS (243580-P1)',
       'EROS (88670-P1)', 'THE GINGER PEOPLE GROUP (98572-P1)',
       'RASKIN (100279-P1)', 'DYNA TRANSPORT - CA (249191-P1)',
       'HARVARDS CHROME FACTORY (87360-P1)', 'FOVITEC (93285-P1)',
       'MINNANO JAPANESE GROCERY (238810-P1)',
       'CUSTOM CUP FACTORY (230209-P1)', 'MANDARIN USA, INC (67694-P1)',
       'SUPERIOR NUT COMPANY (116837-P1)', 'JADE DISTRIBUTION (98325-P1)',
       'COOPER STREET COOKIES LLC (253741-P1)',
       'HAMMERS DEPARTMENT STORE (250721-P1)',
       'SKYWAY BROKERAGE (244804-P1)',
       'GOLDEN BRIDGE INTERNATIONAL (249063-P1)',
       'SUSTAINABLE TECHNOLOGIES LLC (112065-P1)',
       'TRENDSTAR CORP (249751-P1)', 'GIDEONS INC (116845-P1)',
       'LIVING ESSENTIALS CORP (88064-P1)', 'METRO POLY CORP (89650-P1)',
       'MAYA KAIMAL FOODS (104872-P1)', 'ALL FASTENERS - CA (87031-P1)',
       'GOLDENHOME CABINETRY LLC - CA (83537-P1)',
       'SUNJIN USA (247877-P1)', 'REPUBLIC FLOOR - AZ (111692-P1)',
       'KAB DISTRIBUTORS INC. (234677-P1)', 'GOLD EAGLE USA (94488-P1)',
       'WWTL GROUP LTD (238135-P1)', 'CAL CARGO (82875-P1)',
       'TABLE MATE PRODUCTS, INC. (247181-P1)', 'KOLGOL (107454-P1)',
       'PEAK FRESH USA (59029-P1)', 'CST INTL GROUP INC (90098-P1)',
       'REDSTONE FOODS INC (100869-P1)', '11 RAVENS LLC (66298-P1)',
       'AQUA ULTRAVIOLET (105519-P1)',
       'E-LINK INTERNATIONAL LLC (241360-P1)',
       'KGL AMERICA  - MIA OFFICE (61936-P1)',
       'SONORAN STONECRETE (90950-P1)',
       'JPACK INTERNATIONAL INC (90437-P1)',
       'KEVIDKO - BELEN (250042-P1)', 'ATLANTIC TOWERS (247143-P1)',
       'PYRO DISTRO (250378-P1)',
       'CASCADE STAINLESS SOLUTIONS (96383-P1)',
       'BEN SOLEIMANI - LA (254390-P1)', 'GOVINO - OLIVIA (245413-P1)',
       'STANDARD AUTO (88687-P1)', 'CUSTOM CREATIVE PLASTICS (44333-P1)',
       'MARKETAIR (229292-P1)',
       'MILIJANA & SONS TRUCKING INC (101156-P1)',
       'GENUS HAIR PRODUCTS (228194-P1)',
       'WEST STATE BILLIARDS (69862-P1)',
       'PRIMA NOCE PACKING INC (104473-P1)',
       'CASTELLE FURNITURE CO INC (104930-P1)',
       'HOPE HAVEN WEST (254626-P1)',
       'VERTEX PACKAGING SUPPLIES (87263-P1)',
       'SIERRA DISPLAY FIXTURES INC (95480-P1)',
       'SURFACE FINISHING COMPANY LLC (96016-P1)',
       'SAW MASTER DIAMOND TOOLS (50517-P1)',
       'FAIRMONT DESIGN (240541-P1)', 'GILL MANUFACTURING (228586-P1)',
       'W&W WHOLESALE INC (89812-P1)', 'WHEELPLUS (52356-P1)',
       'WOZNIAK DISTRIBUTION (116911-P1)', 'LOCK N CLIMB LLC (106186-P1)',
       'IR-TEC AMERICA (229997-P1)', 'LKWID LLC (52151-P1)',
       'CIRCLE CLOTHING LLC (107281-P1)',
       'JARROW FORMULAS, INC (94074-P1)',
       'PAR INTERNATIONAL INC (101842-P1)',
       'CREATIVE FLAVORS AND SPECIALTIES (232593-P1)',
       'IPW INDUSTRIES INC. (83463-P1)',
       "JUNGLE JIM'S INTERNATIONAL MARKET (237593-P1)",
       'ALL TRUCKS RECYCLING (239319-P1)',
       'WILSHIRE INDUSTRIES LLC (103395-P1)',
       'KCC TRANSPORT - HOU (113460-P1)',
       'STERLING WATER TECHNOLOGIES LLC (108929-P1)',
       'MAILING SYSTEMS INC (85616-P1)', 'MER LOGIS INC (51347-P1)',
       'RIVEROAKS (116441-P1)',
       'MATERIAL ARCHITECTURE FURNITURE (245567-P1)',
       'BELLINI HOME AND GARDEN (94415-P1)',
       'STUEWE & SONS INC (100192-P1)',
       'I.R. DISTRIBUTIONS INC (253660-P1)', 'MEADOW DECOR (61999-P1)',
       'DEAVER SPRING INC (105340-P1)',
       'AK ATHLETIC EQUIPMENT INC (102634-P1)',
       'KRB MUSIC CO INC (105762-P1)', 'CHOYCE PRODUCTS INC (103069-P1)',
       'STRICTLY DIESEL (111096-P1)', 'MILAN CLOTHING (230206-P1)',
       'HTT CARGO (244047-P1)', 'HOT SHOT SUPPLY (97385-P1)',
       'EAST ELECTRONICS CORP (107180-P1)',
       'QUANTUM VENTURES CORPORATION (51656-P1)',
       'MI SANTUARIO (90421-P1)', 'A1 TRANSLOGISTICS INC (69961-P1)',
       'SOUTHERN PACKAGING SUPPLIES (251214-P1)',
       'CNS AUTO PARTS (84898-P1)', 'MPA SALES (61042-P1)',
       'CARLSONS CHOKE TUBE-NORTHWEST ARMS (96493-P1)',
       'MARBLE SYSTEMS (243345-P1)', 'INVIDIA (58801-P1)',
       'Pro-Edge Industries (250441-P1)',
       'E&B NATURAL RESOURCES (103053-P1)',
       'VIKS DISTRIBUTORS (102657-P1)',
       'FITZGERALD FORMLINERS (240542-P1)',
       'SUTONG TIRE RESOURCES HOUSTON (239248-P1)',
       'KHL LOGISTICS INC. (254673-P1)', 'MBK OFFICE (92992-P1)',
       'MTS GLOBAL (251792-P1)', 'JGW FURNITURE (103848-P1)',
       'SAGRA INC (106366-P1)', 'PREFERRED WIRE PRODUCTS (105213-P1)',
       'WHOLE TRADING INC (101886-P1)', 'PRO SHIFT (106770-P1)',
       'ENGINEERED SOURCE INC (51710-P1)', 'UNI FILTER (51384-P1)',
       'CHP LOGISTICS (50393-P1)', 'ALERTUS (246703-P1)',
       'COMFORT HOME (60887-P1)', 'LAUFER GROUP - CA (253801-P1)',
       'LOGIC-OLOGY (108022-P1)', 'ROBERT WAYNE FOOTWEAR (240554-P1)',
       'TYCS LOGISTICS, INC (252409-P1)', 'SDI DEALS (66720-P1)',
       'PAPER TUBE & CORE (230578-P1)', 'POSSMEI USA INC (245592-P1)',
       'GARLAND VENTURE GROUP LLC (98517-P1)', 'BOTE (99568-P1)',
       'NINJA PAINTBALL (235930-P1)', 'MALIK GALLERY (59106-P1)',
       'CONCRETE PUMPING ACCESSORIES (85884-P1)',
       'INNOVATING PRODUCTS GROUP (252029-P1)', 'SUN LEE INC (246384-P1)',
       'WORLD DEPOT INC - IL (104046-P1)', 'DIMCO APPAREL (81238-P1)',
       'SNAX IN PAX (249372-P1)', 'PURE ASSAY (60071-P1)',
       'KINGER INDUSTRY INC (81250-P1)', 'KOOKABURRA LICORICE (63443-P1)',
       'QURE WATER (233055-P1)', 'LARK INTERNATIONAL (87037-P1)',
       'HENNESSY WOOD FLOORS (84867-P1)', 'CRUNCH TECH INC (247848-P1)',
       'WITTEK GOLF SUPPLY (62362-P1)', 'ROCKET FIZZ (100234-P1)',
       'DERMORGANIC LABORATORIES, INC. (254488-P1)',
       'GREAT LAKES FINISHING EQUIPMENT, INC. (230726-P1)',
       'CAL STATE SUPPLY (240034-P1)', 'GENEVA HEALTHCARE (107121-P1)',
       'NEW CROWN WHOLESALE (102836-P1)', 'WILSON PONTOONS (97704-P1)',
       'REPUBLIC FLOORING (83157-P1)',
       'MCI MIRITZ CITRUS INTERCONTINENTAL LLC (98086-P1)',
       'GLOWORKS (101700-P1)', 'BLUESUN SOLAR CO LTD (116672-P1)',
       'HOUSEWARES INTERNATIONAL (231135-P1)',
       'EARTH & OCEAN LLC (236542-P1)', 'PACIFIC EAST CO (81531-P1)',
       'BEACON MANAGEMENT INC (50485-P1)', 'IPOWER INC (65700-P1)',
       'CARDDINE (106472-P1)', 'AIR FILTERS NORTHWEST (254520-P1)',
       'KC HILITES (114381-P1)', 'EAST IOWA PLASTICS INC (91661-P1)',
       'SAN BENITO TEXTILES & THRIFT STORE (116245-P1)',
       'RELIANCE AIRCRAFT INTERNATIONAL (110961-P1)',
       'UFO INC (248889-P1)', 'MAGERACK (59107-P1)',
       'ANION PERFORMANCE CHEMICALS (101294-P1)',
       'FAC LOGISTICS (107878-P1)',
       'INTERNATIONAL FOOD PACKAGING INC (81127-P1)',
       'TONER MOTION (50622-P1)', 'KOBE RANGE HOODS (82910-P1)',
       'ORCA BEVERAGE (108192-P1)', 'CASCADE SCHOOL SUPPLIES (242900-P1)',
       'HIGHLAND SUPPLY CORP (117014-P1)',
       'MARTIN ABASCAL CORP DBA ABASCAL VINYL TOPS (254346-P1)',
       'LCI PRODUCTS (95846-P1)',
       'NISSIN INTERNATIONAL TRANSPORT (83466-P1)',
       'SUNSET PACIFIC TRANSPORTATION (87754-P1)',
       'PACIFIC YURTS (111120-P1)', 'HOME CREATION BY KK (63454-P1)',
       'CD VIDEO MFG (42102-P1)',
       'OCEANIA INTERNATIONAL - NEW JERSEY (89526-P1)',
       'ANNEX GLOBAL LOGISTICS (97172-P1)',
       'COOLER DEPOT - PREPAY (114114-P1)',
       'DAYLIGHT HOME & GARDEN (60736-P1)',
       'FAMILY FOODS INTERNATIONAL (228150-P1)',
       'E Z CONNECTION INC (100297-P1)',
       'SECURE EWASTE MANAGEMENT (251482-P1)', 'PRO LITE (93191-P1)',
       'CMC WORLDWIDE (249337-P1)', 'EASY GROUP LLC (101657-P1)',
       'JH CORP (240990-P1)', 'DIXIE PRODUCTS INC (100396-P1)',
       'ALFA CANTOR (95923-P1)',
       'LUMEFFICIENT LIGHTING CORPORATION (103280-P1)',
       'BEST USED MEDICAL EQUIPMENT (246690-P1)',
       'WECLY INTERNATIONAL (50402-P1)', 'Q SHIP USA CORP (117114-P1)',
       'DASH 4 BRAKES (240539-P1)', 'ROYAL PACKAGING (89688-P1)',
       'ARCHITECTURAL AUGMENTATIONS (235460-P1)',
       'SATOR SOCCER (246940-P1)', 'MM SHIP SUPPLY CHAIN LTD (116299-P1)',
       'SLIQUID LLC (100495-P1)', 'PP WAREHOUSE INC (231022-P1)',
       'KCC TRANSPORT - HOUSTON (113460-P1)',
       'YATARI EXPRESS INTERNATIONAL INC (96618-P1)',
       'NUTECH COMPANY (245654-P1)', 'LUSIVE DECOR (86465-P1)',
       'WILLOW SPRINGS SRA (246192-P1)', 'CAROUSEL USA (236974-P1)',
       'MEGATOYS (94479-P1)', 'MOTIONWISE PRODUCTS (66712-P1)',
       'SNOW JOE - LACY WA (245750-P1)',
       'BALL&SEAT SPECIALTY CO (102533-P1)',
       'MONARCH TEXTILES (244081-P1)',
       'SILICON FORENSICS INC (104593-P1)', 'SIPAC BAG (98462-P1)',
       'HALESTORM ENGINEERING INC (112513-P1)',
       'LANCASTER FLOW AUTOMATION (251694-P1)',
       'LAVERDE TRUCKING (100298-P1)', 'SGCB AUTOCARE (87326-P1)',
       'BAMBOO 54 (61019-P1)', 'ALEDDRA (105055-P1)',
       'SOURCE TRADING LA LLC (251925-P1)',
       'THUNDERSTRUCK MOTORS (106217-P1)',
       'PROEDGE INDUSTIES INC (250441-P1)',
       'BURKE MASONRY SERVICES INC (86637-P1)',
       'FOCUS SHIPPING (243636-P1)', 'ALINEA INC (108142-P1)',
       'BESTOCEAN WORLDWIDE LOGISTICS, INC. (235457-P1)',
       'KNF DESIGNS (230666-P1)', 'D&D TECHNOLOGIES (50257-P1)',
       'SELERY FULFILLMENT, INC (243187-P1)', 'GRUPO CANELA (247962-P1)',
       'SOW SOLUTIONS CORP (110105-P1)',
       'RLT LOGISTICS GROUP LLC (60174-P1)',
       'ED LONDON WREATH (245858-P1)',
       'OCEANIA INTERNATIONAL - MEMPHIS (62005-P1)',
       'ALLMAN PRODUCTS INC (232259-P1)', '180 SNACKS INC (86677-P1)',
       'H & K SUPPLY (50459-P1)', 'WESCOM INC (254084-P1)',
       'ESOULK (100065-P1)', 'ATLAS INVESTMENT HOLDINGS INC (111243-P1)',
       'PACKAGING STRATEGIES INCORPORATED (238394-P1)',
       'NAXA ELECTRONICS INC (102330-P1)',
       'JFS LOGISTICS INC (235653-P1)', 'COLORADO CUSTOM (52793-P1)',
       'GOLFETAIL.COM (58596-P1)', 'BLEEKER BROS (252146-P1)',
       'MAGNUS INDUSTRIES (91289-P1)', 'ACCUTEK IMAGING (88657-P1)',
       'CANNASTER SUPPLY (96302-P1)', 'ETNA PRODUCTS CO (112699-P1)',
       'CACC GLOBAL LOGISTICS (51187-P1)',
       'SOUTHWEST SCHOOL & OFFICE SUPPLY (100182-P1)',
       'JOYIN INC (233907-P1)', 'OXARC (244277-P1)',
       'LATIN BEAUTY SUPPLY (240878-P1)', 'NORCAL CAR & TRUCK (84821-P1)',
       'WE CONNECT LOGISTICS (100133-P1)',
       'GENERAL RESTAURANT EQUIPMENT CO (88742-P1)',
       'BLUE COMMERCE INC (233578-P1)',
       'IMAGE PLASTICS & PACKAGING (98270-P1)',
       'SUNWAY EXPRESS (67833-P1)', 'LONG BEACH TRADING (63274-P1)',
       'WHYNTER LLC (102952-P1)',
       'EURO FLEX ADJUSTABLE BEDS & NATURAL MATTRESSES (240634-P1)',
       'AMERICAN FISHING TACKLE COMPANY (94432-P1)',
       'FIL-AM ASIAN STORE (234067-P1)',
       'DOLPHIN LOGISITCS INC (230470-P1)',
       'EXPORT TRADE SERVICES INC (104573-P1)', 'REVEL HOME (80054-P1)',
       'JBC SAFETY PLASTIC INC (51780-P1)',
       '2GO PRODUCTS, LLC (230468-P1)', 'LEGION FLOOR (109408-P1)',
       'ALE 8 ONE BOTTLING (103739-P1)', 'AC CHEMICAL, LLC (232646-P1)',
       'T WEST (60992-P1)',
       'POLYMAX THERMOPLASTIC ELASTOMERS, LLC (231291-P1)',
       'INTERNATIONAL FOOD DISTRIBUTORS (250999-P1)',
       'RICHIN TRADING INC (109772-P1)', 'SUFOO LIFE (237779-P1)',
       'CRANE CLOTHING (238373-P1)', 'FAS ALLIANCE (243652-P1)',
       'AMTURF ENTERPRISE (97182-P1)', 'SMM MANUFACTURING INC (88721-P1)',
       'URETHANE PRODUCTS CORPORATION (109857-P1)',
       'SNACK MEX (50453-P1)', 'GOLDEN SUN (230594-P1)',
       '.COOPER STARKEL CUSTOMER (96684-P1D)',
       'ALLIANCE GLAZING TECHNOLOGIES (243998-P1)',
       'PLATFORM DISPLAYS (104694-P1)',
       'SUPERIOR SPRING COMPANY (245137-P1)',
       'SONDER LIVING USA (115159-P1)',
       'CAMFIL USA AIR FILTERS AUSTIN BRANCH (251068-P1)',
       'SAVIA USA (97888-P1)', 'DAI CHEONG TRADING CO (253512-P1)',
       'SUNSTONE METAL PRODUCTS LLC (89350-P1)',
       'KCC TRANSPORT - RANCHO DOMINGUEZ (89832-P1)',
       'ORIGINAL NEW YORK SELTZER (105226-P1)',
       'PC MICRO STORE (242607-P1)', 'COOL SOFA (96623-P1)',
       'APOLLO DISTRIBUTORS (241937-P1)',
       'CALIFORNIA GLASS BLOCK (87304-P1)',
       'GENTEKK INDUSTRIES (66603-P1)',
       'L&G PETROLEUM OPERATING (253726-P1)',
       'QMART INTERNATIONAL (231505-P1)', 'WASATCH LABS (96890-P1)',
       "CHEL'S CLOSET (109030-P1)",
       'AQUA EQUIP TECHNOLOGIES LLC (116484-P1)',
       'ALIGNED MEDICAL SOLUTIONS (104631-P1)',
       'TNC PROMOTIONAL MARKETING LLC (229010-P1)',
       'RPA INTERNATIONAL. (65727-P1)',
       'LOGIN MULTIMODAL LLC (104060-P1)',
       'NIAGARA FIBERBOARD INC (86764-P1)', 'OP PRODUCTS INC (100893-P1)',
       'OZONE LAYER DEODORANT, LLC. (113822-P1)',
       'AMERICAN RECLAIMED WOOD FLOORS (242272-P1)',
       'AMERICA CUSTOMS BROKERAGE INC (251650-P1)',
       'FINELINE SETTINGS (247361-P1)', 'GRIP CLEAN (84392-P1)',
       'LANDWAY (66963-P1)', 'HEARTH CO (105424-P1)',
       'FIREFOLD (102154-P1)', 'JOHN WOOD AUTOMOTIVE (82196-P1)',
       'CUDDLE BARN INC (46391-P1)', 'CASE PAK INC (61173-P1)',
       'ALLIED WHEEL COMPONENTS (242513-P1)',
       'MAGIC TRANSPORT (98559-P1)', 'EZ BATHS LLC (84645-P1)',
       'ROLLAND HAIRTREND INC DBA AMVECK (98441-P1)',
       'SEGERO INC (87355-P1)', 'FORCE MEASUREMENT SYSTEMS (243921-P1)',
       'ORWELL INC (253734-P1)', 'LANDMARK GRAFIX (230693-P1)',
       'AZ TRUCKING EXPRESS (234265-P1)', 'LYNN ELECTRONICS (107514-P1)',
       'CUBE CARE (101776-P1)', 'BOTNER (90395-P1)',
       'ARROW COMMODITIES (245820-P1)',
       '.DILLON KEEFE CUSTOMER (238676-P1)', 'ATM TECH PRO (248955-P1)',
       'GMC COATING LIMITED - CAD (245100-P1)',
       'CLASSIC HOME (237919-P1)', 'THE LIGHTING COMPANY (107259-P1)',
       'BAKERS SIGNS (245577-P1)', 'TNJ GLOBAL INC (82126-P1)',
       'ALLOCACOC (50262-P1)', 'AMERICAN STANDARD COATINGS (65706-P1)',
       'ULTIMATE BUILDER SERVICES (104871-P1)',
       "CHARLIE'S GOURMET FOOD EQUIPMENT (50381-P1)",
       'SOMERSET WAREHOUSE PLUS INC (101595-P1)',
       'JONI AND FRIENDS (107703-P1)',
       'INDUSTRIAL TRADING SOLUTIONS (58502-P1)',
       'AL NU PRODUCTS INC, dba US PEACEKEEPER (52712-P1)',
       'SALESMAGIC INC (108141-P1)', 'ATHENA POWER (63059-P1)',
       'TZ CASE (60080-P1)', 'ARTISAN PANELS (103745-P1)',
       'DIVERSIFIED HOSPITALITY SOLUTIONS (67865-P1)',
       'BEAUTY TALK LLC (113188-P1)', 'TIME MARK (253146-P1)',
       'DYNAMX WAREHOUSE APPLIANCE (239747-P1)',
       'DIRTGLUE ENTERPRISES (245657-P1)', 'YOSHIMASA (60916-P1)',
       'ENCORE BEVERAGE (247791-P1)', 'MAGI FOODS (245038-P1)',
       'JAX LOGISTICS LLC (104511-P1)', 'DRIPLESS (102903-P1)',
       'KENNEDY BAG IMPRESSIONS (101361-P1)',
       'PAPERS FILMS & FOILS CO (108262-P1)', 'IQA METAL (83425-P1)',
       'SHARK WHEEL (246118-P1)', 'MTC INDUSTRIES (96242-P1)',
       'VIKING PRODUCTS (110863-P1)',
       'GROWING SOLUTIONS INC - IL (101396-P1)',
       '.MICHAEL HSU CUSTOMER (96685-P1D)',
       'ASL GROUP DBA SOGNARE TILES & STONE (66564-P1)',
       'FANTINI MOSAICI (105209-P1)', 'COMFORTSIDE LLC (235146-P1)',
       'MUDDY WATER LOGISTICS (251535-P1)',
       'SURRAJ PLASTICS CO (242652-P1)',
       'BLAST COAT SYSTEMS INC. (81249-P1)', 'MIZU (102329-P1)',
       'KSOLV (249595-P1)', 'OMEGA BROADCAST GROUP (106418-P1)',
       'KYZAA BIOPAK (64404-P1)', 'D&J INTERNATIONAL (82074-P1)',
       'QUARTER INDUSTRIES (234880-P1)', 'A&M PREP SERVICES (240537-P1)',
       'TO MARKET GLOBAL (100292-P1)', 'ADS DENTAL SYSTEM INC (89993-P1)',
       'GERIMAX INC (101220-P1)', 'OMNISTONE MASONRY (253172-P1)',
       'HAPPY FACTORIES (241587-P1)', 'BMB ENTERPRISES (231822-P1)',
       'AXESS PRODUCTS CORP (240512-P1)', 'ARTEK (51669-P1)',
       'SUNS OUT (96698-P1)', 'FORTUNET INC (102000-P1)',
       'OSIO INTERNATIONAL INC (96219-P1)',
       'ROCKFORD CORPORATION (103074-P1)',
       'TECHNOLOGY INTEGRATION GROUP (241508-P1)',
       'IMPRESS CABINETRY INC (112729-P1)', 'SN CYCLE COR (88686-P1)',
       'PLATINUM STAGES (109946-P1)', 'FH GROUP (241392-P1)',
       'AZUSA ENGINEERING (50235-P1)', 'YML GROUP INC (50886-P1)',
       'WILD WOOD APOTHECARY (97586-P1)',
       'PROLIN MARKETING INC (84364-P1)', 'MCOCOD (250985-P1)',
       'ALL ELECTRONICS CORPORATION (103028-P1)',
       'PINNACLE PEAK TRADING COMPANY (235917-P1)',
       'STRATEGIC MERCHANDISE GROUP (100044-P1)',
       'SEMSOTAI USA INC (108888-P1)', 'GSE REPAIR (103026-P1)',
       'PURSUE HEALTH (247909-P1)', 'DISCS UNLIMITED (60985-P1)',
       'EXPRESSWAY TRANSPORTATION (240540-P1)',
       'KANSA TRANSPORT INC (251287-P1)', 'INTERTEK (239125-P1)',
       'TOP TWO TEXTILES INC (247158-P1)', 'Z DENTAL (237281-P1)',
       'SABA AIR (50669-P1)', 'ALL TRUCKS FOREIGN - DNS (84840-P1)',
       'EPOXY 2 U (51167-P1)', 'GSO PRINTING (237888-P1)',
       'BG WHOLESALE TRADING INC (88722-P1)',
       'NORTH 40 FABRICATION (252867-P1)', 'PHAT SCOOTER (110271-P1)',
       'LA BOTTLEWORKS (105228-P1)',
       'CJ LOGISTICS AMERICA, LLC (249667-P1)',
       'RCI MANAGEMENT SERVICES (248662-P1)',
       'EMPIRE ROOFING (252636-P1)',
       'HUSK ITT DISTRIBUTORS CORPORATION (101887-P1)',
       'STEPHEN GOULD CORP - SAN DIEGO (106301-P1)',
       'PROCRAFT CABINETRY ATLANTA (114309-P1)',
       'RED RUBY INTERNATIONAL LOGISTICS (231984-P1)',
       'AIR GREEN USA (104074-P1)', 'KCC TRANSPORT - SFO (113459-P1)',
       'CARGO LINK EXPRESS (241152-P1)',
       'TOP NOTCH NEW AND USED LLC (252249-P1)',
       'UNICRAFT CABINETRY INC (65725-P1)', 'AMERAMARK (51774-P1)',
       'ISTRETCH GROUP CORP (251925-P1)',
       'Refresco Beverages (242796-P1)',
       'JDM CALIFORNIA MOTORS (59433-P1)', 'GOLDEN BRIDGE (59017-P1)',
       'AMAN & BAIDA ENTERPRISE DBA TIRES STUDIO (99704-P1)',
       'MEDZON HEALTH (106108-P1)', 'RICHMAN COSMETIC INC (65728-P1)',
       'ENERGY SERVICE PARTNERS (252581-P1)',
       'DEALER LEATHER (230585-P1)',
       'ABB MOTORS AND MECHANICAL INC (248704-P1)',
       'EDM PERFORMANCE ACCESSORIES (252587-P1)',
       'PARAGON PROMOTIONS INC (96446-P1)', 'DFI AMERICA LLC (87287-P1)',
       'EZMOD FURNITURE (252332-P1)', 'TNM BEAUTY PLUS (251185-P1)',
       'PROFAB SHEET METAL INC (104131-P1)', 'INSTANT TOOLS (51358-P1)',
       'WING START INTERNATION CO (228691-P1)',
       '.TREVOR MARIONI CUSTOMER (96683-P1D)', 'GREEN CASTLE (50464-P1)',
       'INDIAN WELLS BREWING COMPANY (237070-P1)',
       'TRANSDECO INTL (50580-P1)', 'PURE LOGIC INDUSTRIES (95684-P1)',
       'INNOVATE IT LLC (93492-P1)',
       'SUNROCK CERAMICS COMPANY (61394-P1)', 'J&S CHEMICAL (250411-P1)',
       'TWINMED LLC - CA (244934-P1)', 'BROEKEMA BELTWAY (93549-P1)',
       'SR SMITH LLC (248951-P1)',
       'TRASIAN Manufacturing Ltd (252025-P1)',
       'TUCKER INTERNATIONAL USA INC (98617-P1)',
       'CHIPSALZ INC (94018-P1)', '.MIKE LAHEY CUSTOMER (96682-P1D)',
       'SYNTHETIC TURF DEPOT (108701-P1)', 'MILAEGERS (248748-P1)',
       'SMARTSTAGE (107727-P1)', 'WESTERN PACIFIC TILE (244619-P1)',
       'MAGNOLIA INTERNATIONAL SERVICES LLC (106641-P1)',
       'THOR KITCHEN (242022-P1)', 'CROWD MADE (251907-P1)',
       'VIVIANS BASKETS (241322-P1)', 'ONE STOP OUTDOOR (249202-P1)',
       'SHINGLE GUARD (252028-P1)', 'SIFA USA (65708-P1)',
       'WAGAN CORP (84995-P1)', 'ALTECH (42761-P1)',
       'FUN BEVERAGE (246407-P1)', 'HJ CLOSEOUTS (103154-P1)',
       'FIBER CABLES DIRECT (50326-P1)',
       'GARGOYLE TECHNOLOGIES INC (251575-P1)',
       'ALL AMERICAN LOCK CORPORATION (93605-P1)',
       'TUBE LIGHTING PRODUCTS (251263-P1)',
       'STEPHEN GOULD CORP - LOS ANGELES (106302-P1)',
       'PORTLAND PACKAGING CO (105047-P1)',
       'LEGACY LICENSING PARTNERS (108893-P1)',
       'LIGHTING IMAGES TECHNOLOGY (251765-P1)',
       'AMOY INTERNATIONAL LLC (68887-P1)',
       'BLOOMLITE SOLUTIONS INC (111839-P1)',
       'ZEPP NORTH AMERICA INC (251723-P1)', 'RATEC LLC (238100-P1)',
       'HELMY ASSOC & CO INC (112906-P1)', 'KEEN RAMPS (97761-P1)',
       'INTERNATIONAL WINDOW (112048-P1)', 'CA GOLF CENTER (50483-P1)',
       'EAST WEST TRADING (245683-P1)', 'PACIFIC ARC INC (100724-P1)',
       'LACONTEMPO (109944-P1)', 'DIGITAL CELL LLC (239257-P1)',
       'FLIP OUT WINDOWS (237301-P1)', 'PIMS (241190-P1)',
       '5280 GARDEN SUPPLY (116379-P1)', 'RTJ SALES (251448-P1)',
       'POSSMEI USA FREIGHT (245592-P1)', 'BOTANX (99693-P1)',
       'EURO CUISINE INC (101583-P1)',
       'SUTONG TIRE RESOURCES - IN (111528-P1)',
       'DHANRAJ INC (247377-P1)', 'CARGOWAYS (100131-P1)',
       'MYRIAD TRADING (50505-P1)', 'STEVEN ENGINEERING (248006-P1)',
       'CLR ROASTERS LLC (86475-P1)', 'TRINITY FORCE (65705-P1)',
       'COWAY RETAIL - BLOOMINGTON (240173-P1)',
       'CAFE VALLEY (232507-P1)', 'GOLDEN MANUFACTURING INC (113670-P1)',
       'MC ELECTRIC (107886-P1)', 'PAKET CORPORATION (242255-P1)',
       'KCC TRANSPORT - NEW YORK (113463-P1)',
       'T-REX TRUCK PRODUCTS INC (231680-P1)',
       'TAOKAENOI USA INC DBA NORA SNACKS (88282-P1)',
       'UNIQUE TRONICS (61690-P1)',
       'WICKS ROOFING & SOLAR INC (251187-P1)', 'KC TRADING (50460-P1)',
       'PROCRAFT CABINETRY MIAMI (107979-P1)',
       'MIKES RESTAURANT SUPPLY (58890-P1)',
       'THE HANDY KENLIN GROUP (250857-P1)',
       'STEPHEN GOULD CORP - FREMONT (243594-P1)',
       'RAVEN INDUSTRIAL SUPPLY (228168-P1)', 'DALTON RUGS (88664-P1)',
       'CORAM HVAC CORP (94371-P1)', 'LULL MATTRESS (247183-P1)',
       '3G BIKES INC (234466-P1)', 'NEOLITHIC DESIGN (51927-P1)',
       'ARCHIPELAGO LIGHTING (51222-P1)', 'EGL LIGHTING (110597-P1)',
       'FIJI CUBE (102183-P1)', 'ABSOLUTE MERCH INC. (233373-P1)',
       'QBM AUTO PARTS (84828-P1)', 'KOOL MIST (87797-P1)',
       'MAHER WATER (247339-P1)', 'KINGSFIELD INC (101084-P1)',
       'FOUR SONS BREWING (106698-P1)',
       'LYNDEN INTERNATIONAL TEXAS (111654-P1)',
       'AFB ENTERPRISE (88658-P1)', 'FABRIMETRICS INC (114099-P1)',
       'ELOGISTIFY LLC (230712-P1)', 'ANB COMPONENTS LLC (112841-P1)',
       'WORLDWIDE FILTER (229893-P1)', 'JABA USA (231534-P1)',
       'The Handy Kenlin Group (250857-P1)', 'KUZCO LIGHTING (105406-P1)',
       'AFCO MANUFACTURING CORP (49373-P1)', 'ML FILTERS (89197-P1)',
       '.JOE PATTERSON CUSTOMER (240492-P1)',
       'FYTERTECH NONWOVENS (243257-P1)', 'KS WOODCRAFT LLC (105417-P1)']
       

       function autocomplete(inp, arr) {
                /*the autocomplete function takes two arguments,
                the text field element and an array of possible autocompleted values:*/
                var currentFocus;
                /*execute a function when someone writes in the text field:*/
                inp.addEventListener("input", function(e) {
                    var a, b, i, val = this.value;
                    /*close any already open lists of autocompleted values*/
                    closeAllLists();
                    if (!val) { return false;}
                    currentFocus = -1;
                    /*create a DIV element that will contain the items (values):*/
                    a = document.createElement("DIV");
                    a.setAttribute("id", this.id + "autocomplete-list");
                    a.setAttribute("class", "autocomplete-items");
                    /*append the DIV element as a child of the autocomplete container:*/
                    this.parentNode.appendChild(a);
                    /*for each item in the array...*/
                    for (i = 0; i < arr.length; i++) {
                        /*check if the item starts with the same letters as the text field value:*/
                        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                        /*create a DIV element for each matching element:*/
                        b = document.createElement("DIV");
                        /*make the matching letters bold:*/
                        b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                        b.innerHTML += arr[i].substr(val.length);
                        /*insert a input field that will hold the current array item's value:*/
                        b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                        /*execute a function when someone clicks on the item value (DIV element):*/
                        b.addEventListener("click", function(e) {
                            /*insert the value for the autocomplete text field:*/
                            inp.value = this.getElementsByTagName("input")[0].value;
                            /*close the list of autocompleted values,
                            (or any other open lists of autocompleted values:*/
                            closeAllLists();
                        });
                        a.appendChild(b);
                        }
                    }
                });
                /*execute a function presses a key on the keyboard:*/
                inp.addEventListener("keydown", function(e) {
                    var x = document.getElementById(this.id + "autocomplete-list");
                    if (x) x = x.getElementsByTagName("div");
                    if (e.keyCode == 40) {
                        /*If the arrow DOWN key is pressed,
                        increase the currentFocus variable:*/
                        currentFocus++;
                        /*and and make the current item more visible:*/
                        addActive(x);
                    } else if (e.keyCode == 38) { //up
                        /*If the arrow UP key is pressed,
                        decrease the currentFocus variable:*/
                        currentFocus--;
                        /*and and make the current item more visible:*/
                        addActive(x);
                    } else if (e.keyCode == 13) {
                        /*If the ENTER key is pressed, prevent the form from being submitted,*/
                        e.preventDefault();
                        if (currentFocus > -1) {
                        /*and simulate a click on the "active" item:*/
                        if (x) x[currentFocus].click();
                        }
                    }
                });
            

            function addActive(x) {
                /*a function to classify an item as "active":*/
                if (!x) return false;
                /*start by removing the "active" class on all items:*/
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                /*add class "autocomplete-active":*/
                x[currentFocus].classList.add("autocomplete-active");
            }

            function removeActive(x) {
                /*a function to remove the "active" class from all autocomplete items:*/
                for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
                }
            }

            function closeAllLists(elmnt) {
                /*close all autocomplete lists in the document,
                except the one passed as an argument:*/
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                    x[i].parentNode.removeChild(x[i]);
                }
                }
            }
            /*execute a function when someone clicks in the document:*/
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        
        }

        autocomplete(document.getElementById("custy"), customers);

           
    
            
    </script>

  
    {% block content %}
    <table>
        <h3>{{ data_title }}</h2>
        <tr>
            {% for header in headings %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
        {% for row in data %}
        <tr>
            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}

    </table>
    {% endblock %}

    <br>

    <table>
        <h3>{{ quote_title }}</h2>
        <tr>
            {% for quote_header in quote_headings %}
                <th>{{ quote_header }}</th>
            {% endfor %}
        </tr>
        {% for quote in quotes %}
        <tr>
            {% for cell in quote %}
            <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}

    </table>

    <br>

    <table>
        <h3>{{ mode_title }}</h2>
        <tr>
            {% for mode_heading in mode_headings %}
                <th>{{ mode_heading }}</th>
            {% endfor %}
        </tr>
        {% for row in modes %}
        <tr>
            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}

    </table>

    <br>

    <table>
        <h3>{{ lane_title }}</h2>
        <tr>
            {% for lane_heading in lane_headings %}
                <th>{{ lane_heading }}</th>
            {% endfor %}
        </tr>
        {% for row in custylane %}
        <tr>
            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}

    </table>

    




    


    


</html>